
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>
    <title>Trip - form</title>
</head>

<body>
<nav th:replace="fragments/general.html :: navigation-bar"></nav>
<form method="post" autocomplete="off" th:object="${hotel}">
    <div>
        <label>Kraj: <input type="text" th:field="*{hotelCountry}"></label>
    </div>
    <div>
        <label>Miasto: <input type="text" th:field="*{hotelCity}"></label>
    </div>
    <div>
        <label>Hotel: <input type="text" th:field="*{hotelName}"></label>
    </div>
       <input type="submit" value="Zatwierdź">
</form>
</body>
</html>