<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>
    <title>Hotel list</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navigation-bar"></nav>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nazwa Hotelu</th>
        <th>Kraj</th>
        <th>Miasto</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel: ${hotels}">
    <td th:text="${hotel.id}"></td>
    <td th:text="${hotel.hotelName}"></td>
    <td th:text="${hotel.hotelCountry}"></td>
    <td th:text="${hotel.hotelCity}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>