<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navigation-bar"></nav>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Kraj</th>
        <th>Miasto</th>
        <th>Nazwa Hotelu</th>
        <th>Wylot</th>
        <th>Powrót</th>
        <th>Cena</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${trip.id}"></td>
        <td th:text="${trip.country}"></td>
        <td th:text="${trip.city}"></td>
        <td th:text="${trip.hotelName}"></td>
        <td th:text="${trip.onboarding}"></td>
        <td th:text="${trip.offboarding}"></td>
        <td th:text="${trip.price}"></td>
        <div class="user">
            <td class="col-lg-3 button-float-right">
                <button href="/trips/{tripId}" type="button" class="btn btn-outline-success" role="button">Kup</button>

            </td>
        </div>
    </tbody>
</table>

</body>
</html>