<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Kraj</th>
        <th>Miasto</th>
        <th>Nazwa Hotelu</th>
        <th>Wylot</th>
        <th>Powrót</th>
        <th>Cena</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${trip.id}"></td>
        <td th:text="${trip.country}"></td>
        <td th:text="${trip.city}"></td>
        <td th:text="${trip.hotelName}"></td>
        <td th:text="${trip.onboarding}"></td>
        <td th:text="${trip.offboarding}"></td>
        <td th:text="${trip.price}"></td>
    </tbody>
</table>

</body>
</html>