
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/general.html :: head-tags"></th:block>
  <title>Trip - form</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navigation-bar"></nav>
<form method="post" autocomplete="off" th:action="@{/trips/add}"  th:object="${trip}">
  <div>
    <label>Kraj: <input type="text" th:field="*{country}"></label>
  </div>
  <div>
    <label>Miasto: <input type="text" th:field="*{city}"></label>
  </div>
  <div>
    <label>Hotel: <input type="text" th:field="*{hotelName}"></label>
  </div>
  <div>
    <label>Wyjazd: <input type="date" th:field="*{onboarding}"></label>
  </div>
  <div>
    <label>Powrót: <input type="date" th:field="*{offboarding}"></label>
  </div>
  <div>
    <label>Cena: <input type="number" th:field="*{price}"></label>
  </div>
  <div>
    <label>Ilość miejsc: <input type="number" th:field="*{seatNumber}"></label>
  </div>
  <input type="submit" value="Zatwierdź">
</form>
</body>
</html>